:root {
  --preto: #000;
  --branco: #fff;
  --cinza-claro: #f5f5f5;
  --cinza-medio: #bdbdbd;
  --cinza-escuro: #424242;
}

body {
  font-family: "Yalta Sans W04 Light";
  color: #000000;
  background-color: #bdbdbd;
}

.navbar {
  transition: background-color 0.4s ease;
  padding: 1rem 0;
  position: absolute;
  background-color: #424242;
}

.navbar.scrolled {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.navbar-internal {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  margin-top: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;

}

.navbar-logo {
  margin-top: 10px;
  width: 77px;
  height: 60px;
  

}

.nav-link {
  font-weight: 500;
  margin-top: 20px;
  font-family: 'Poppins', sans-serif;
}

.btn {
  margin-top: 15px;
  background-color: #424242;
  padding: 14px 30px;
  color: #000000;
  letter-spacing: 2px;
  border-radius: 10px;
  border: 2px #343a39;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: .4s;
  font-family: 'Poppins', sans-serif;
}

.btn span:last-child {
  display: none;
}

.btn:hover {
  transition: .4s;
  border: 2px #000000;
  background-color: #bdbdbd;
  color: #ffffff;
}

.btn:active {
  background-color: #bdbdbd;
}

.title {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Poppins', sans-serif;

}

.form {
  margin-top: 100px;
  color: #000;
}

.input-group {
  margin-top: 0.25rem;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.25rem;
  color: #000;
}

.input-group label {
  display: block;
  color: #424242;
  margin-bottom: 4px;
}

.input-group input {
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgba(55, 65, 81, 1);
  outline: 0;
  background-color: rgb(255, 255, 255);
  padding: 0.75rem 1rem;
  color: rgb(0, 0, 0);
}

.input-group input:focus {
  border-color: rgb(0, 0, 0);
}

.forgot {
  display: flex;
  justify-content: flex-end;
  font-size: 2.75rem;
  line-height: 1rem;
  color: rgb(0, 0, 0);
  margin: 8px 0 14px 0;
}

.forgot a,
.signup a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 14px;
}

.forgot a:hover,
.signup a:hover {
  text-decoration: underline rgba(167, 139, 250, 1);
}

.sign {
  display: block;
  width: 100%;
  background-color: #424242;
  padding: 0.75rem;
  text-align: center;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 0.375rem;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;

}

.social-message {
  display: flex;
  align-items: center;
  padding-top: 1rem;
}

.line {
  height: 1px;
  flex: 1 1 0%;
  background-color: rgba(55, 65, 81, 1);
}

.social-message .message {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgba(156, 163, 175, 1);
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons .icon {
  border-radius: 0.125rem;
  padding: 0.75rem;
  border: none;
  background-color: transparent;
  margin-left: 8px;
}

.social-icons .icon svg {
  height: 1.25rem;
  width: 1.25rem;
  fill: #fff;
}

.signup {
  text-align: center;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgba(156, 163, 175, 1);
}

.form-container {
  width: 320px;
  border-radius: 0.75rem;
  background-color: #fff;
  padding: 2rem;
  color: #424242;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;

}

.forgot {
  display: flex;
  justify-content: flex-end;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgba(156, 163, 175, 1);
  margin: 8px 0 14px 0;
}

.forgot a,
.signup a {
  color: #bdbdbd;
  text-decoration: none;
  font-size: 14px;
}

.forgot a:hover,
.signup a:hover {
  text-decoration: underline rgb(0, 0, 0);
}